name: SSMS Menu Notifier

on:
  schedule:
    - cron: "0 2 * * *"    # 7:30 AM IST
    - cron: "0 7 * * *"    # 12:30 PM IST
    - cron: "0 14 * * *"   # 7:30 PM IST
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install requests beautifulsoup4
      
      - run: python menu.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          
